<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Inicio</title>
</head>
<body>
    <div class="container">
		<img src="./img/logo.png" class="mx-auto d-block" style="margin-top: 200px; width: 14rem;" alt="logo">
        <div class="row">
            <div class="col-md-12">
                <h1>VIKINGS</h1> <br>
                <p>Bienvenido al registro.</p>
            </div>
        </div>	
        <div class="row">
            <div class="col-md-12 text-center">
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a href="http://localhost:3000/Iniciar.html"><button  type="button" class="btn btn-primary">Ingresar</button></a>
                <a href="http://localhost:3000/Registro.html"><button type="button" class="btn btn-warning">Registrarse</button></a>
              </div>
            </div>
          </div>
    <div class="row">
        <div class="col-md-12">

        </div>

    
</body>
</html>