h1{
    text-align: center;
}
p{
    text-align: center;
}
.btn{
    margin-right: 10px;
    margin-left: 10px;
}
li{
    text-align: center;
}
.bg-info {
    background-color: #d1ecf1 !important;
  }
  
  .text-white {
    color: #fff !important;
  }